MYSQL_ROOT_PASSWORD=nutrialianza2026
MYSQL_DATABASE=nutrialianza_db
MYSQL_USER=nutriapp
MYSQL_PASSWORD=nutriapp2026

GROQ_API_KEY=PEGAR_AQUI_TU_API_KEY_DE_GROQ
TELEGRAM_BOT_TOKEN=PEGAR_AQUI_TOKEN_DEL_BOT
TELEGRAM_CHAT_ID=PEGAR_AQUI_CHAT_ID

N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin2026

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin2026
